In [10]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
from math import cos,sin
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn import linear_model
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
pd.set_option('display.max_columns', 100)
import warnings
warnings.filterwarnings('ignore')
import ipywidgets
import ipywidgets as widgets
import plotly.express as px
import pickle

In [11]:
df = pd.read_csv("MonthlyPredictions.csv").drop('Unnamed: 0',axis=1)
df['abs_temp_change'] = np.abs(df['YearlyAverageTemperature']-df['YearlyTempMinus1'])
df['Temperature Change'] = df['YearlyTempMinus1']-df['YearlyAverageTemperature']

In [12]:
year_widget1 = widgets.IntSlider(value=df.Year.max(), min=df.Year.min(),
        max=df.Year.max(), step=1, description='Years:')

In [13]:
@ipywidgets.interact(year=year_widget1)
def geo_plot(year):
    fig = px.scatter_geo(
        df,
        lat='Latitude',
        lon='Longitude',
        hover_name='Country',
        size='abs_temp_change',
        hover_data = ['Temperature Change'],
        projection='natural earth',
        
        )
    fig.show()

interactive(children=(IntSlider(value=2013, description='Years:', max=2013, min=1982), Output()), _dom_classes…

In [5]:
with open("global_df.pkl","rb") as f:
    global_df = pickle.load(f)
with open("global_ridge_model.pkl","rb") as f:
    global_ridge_lm = pickle.load(f)
with open("country_yearly_df.pkl","rb") as f:
    country_yearly_df = pickle.load(f)
with open("country_yearly_nn_model.pkl","rb") as f:
    country_yearly_nn = pickle.load(f)
with open("country_monthly_df.pkl","rb") as f:
    country_monthly_df = pickle.load(f)
with open("country_monthly_nn_model.pkl","rb") as f:
    country_monthly_nn = pickle.load(f)
with open("city_monthly_df.pkl","rb") as f:
    city_monthly_df = pickle.load(f)
with open("city_monthly_nn_model.pkl","rb") as f:
    city_monthly_nn = pickle.load(f)

In [9]:
city_monthly_df

,Year,x,y,z,TempMinus1,TempMinus2,January,February,March,April,May,June,July,August,September,October,November,December,AverageTemperature
98,1752,-0.541522,-0.689770,0.480594,-0.623000,1.699000,True,False,False,False,False,False,False,False,False,False,False,False,-0.781
100,1752,-0.541522,-0.689770,0.480594,3.700000,5.182000,False,False,True,False,False,False,False,False,False,False,False,False,3.050
101,1752,-0.541522,-0.689770,0.480594,5.267000,7.197000,False,False,False,True,False,False,False,False,False,False,False,False,5.489
110,1753,-0.541522,-0.689770,0.480594,-0.781000,-0.623000,True,False,False,False,False,False,False,False,False,False,False,False,-1.259
112,1753,-0.541522,-0.689770,0.480594,3.050000,3.700000,False,False,True,False,False,False,False,False,False,False,False,False,4.210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8599206,2013,-0.204533,0.335398,0.919605,8.101000,12.554000,False,False,False,True,False,False,False,False,False,False,False,False,7.710
8599207,2013,-0.204533,0.335398,0.919605,14.169000,14.066000,False,False,False,False,True,False,False,False,False,False,False,False,11.464
8599208,2013,-0.204533,0.335398,0.919605,14.702000,16.273001,False,False,False,False,False,True,False,False,False,False,False,False,15.043
8599209,2013,-0.204533,0.335398,0.919605,17.329000,16.020000,False,False,False,False,False,False,True,False,False,False,False,False,18.775
8599210,2013,-0.204533,0.335398,0.919605,18.587999,16.975000,False,False,False,False,False,False,False,True,False,False,False,False,18.025